body {
  color: white;
  margin: 0;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

  font-family: "Raleway", sans-serif;
}

.todo-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.todo-div {
  width: 80vw;
  text-align: center;
  background-color: rgba(23, 32, 42, 0.3);
  border-radius: 20px;
  min-height: 130px;
  margin-bottom: 20px;
}

.todo-form > input {
  border: 0px;
  border-bottom: 3px solid white;
  background-color: rgba(23, 32, 42, 0.2);
  width: 60vw;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 5px;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.todo-form > button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  color: white;
  background-color: rgba(23, 32, 42, 0.3);
  border: 1px solid white;
  font-family: "Raleway", sans-serif;
}

.todo-list {
  display: flex;
  min-height: fit-content;
}

.todo-list > ul {
  display: flex;
  flex-wrap: wrap;
  min-height: fit-content;
  padding: 0;
}

.todos-container {
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(19, 44, 66, 0.5);
  min-height: fit-content;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todos {
  list-style: none;
  margin-bottom: 16px;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  width: 65px;
  height: 22px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 4px;
  color: rgb(207, 35, 35);
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.4);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.remove-btn {
  background-color: rgba(1, 3, 5, 0.8);
  border: 1px solid black;
}

.quote {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
}

.empty-todo {
  margin-left: 10px;
}

.bg-image {
  height: 100vh;
  background-size: cover;
  background-repeat: inherit;
  margin: 0;
  position: relative;
}
