body {
  color: white;
  margin: 0;
  background-color: rgb(28, 40, 51);
  font-family: "Raleway", sans-serif;
}

.todo-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.todo-div {
  width: 80vw;
  text-align: center;
  background-color: rgb(23, 32, 42);
  border-radius: 20px;
  min-height: 130px;
  margin-bottom: 20px;
}

.todo-form > input {
  border: 0px;
  border-bottom: 3px solid white;
  background-color: rgba(23, 32, 42, 1);
  width: 60vw;
  color: white;
  font-size: 17px;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.todo-form > button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  color: white;
  background-color: rgb(23, 32, 42);
  border: 1px solid white;
  font-family: "Raleway", sans-serif;
}

.todo-list {
  display: flex;
  min-height: fit-content;
}

.todo-list > ul {
  display: flex;
  flex-wrap: wrap;
  min-height: fit-content;
  padding: 0;
}

.todos-container {
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(44, 62, 80);
  min-height: fit-content;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todos {
  list-style: none;
  margin-bottom: 16px;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  width: 65px;
  height: 22px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 4px;
  color: white;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.4);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.remove-btn {
  background-color: red;
  border: 1px solid black;
}

.quote {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
}

.empty-todo {
  margin-left: 10px;
}

.bg-image {
  height: 100vh;
  background-size: cover;
  background-repeat: inherit;
  margin: 0;
  position: relative;
}
